*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.navbar{
    background: linear-gradient(to right, crimson, pink);
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 20px 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
nav ul li a:hover{
    color: black;
    font-weight: bold;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 100px;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, crimson, pink);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button .fa-arrow-right{
    width: 30px;
    display: none;
}
button:hover .fa-arrow-right{
    display: block;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after{
    content: "";
    width: 10px;
    height: 63%;
    background: linear-gradient(to bottom, crimson, pink);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .controller{
    width: 90%;
}

.col-2 .color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to top, crimson, pink);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}
.add-btn{
    font-size: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.social-links{
    text-align: center;
    
}
.social-links .fab{
    padding: 0px 20px;
    font-size: 30px;
}



